<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="memberModuleTestSuite">
    <test name="test1">
        <classes>
            <class name="com.test.modules.schemeSetup.NewSponsorTest"/>
        </classes>
    </test>
    <test name="test2">
        <classes>
            <class name="com.test.modules.schemeSetup.SponsorApprovalTest"/>
        </classes>
    </test>
    <test name="test3">
        <classes>
            <class name="com.test.modules.memberRegister.member.NewMemberRegisterTest"/>
        </classes>
    </test>
    <test name="test4">
        <classes>
            <class name="com.test.modules.memberRegister.member.NewMemberApprovalTest"/>
        </classes>
    </test>
    <!--<test name="test5">-->
        <!--<classes>-->
            <!--<class name="com.test.modules.memberRegister.member.BatchBeneficiariesTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <test name="test5">
        <classes>
            <class name="com.test.modules.memberRegister.contributions.BatchContributionsTest"/>
        </classes>
    </test>
    <test name="test6">
        <classes>
            <class name="com.test.modules.memberRegister.member.RunBalancesTest"/>
        </classes>
    </test>
    <test name="test7">
        <classes>
            <class name="com.test.modules.memberRegister.member.InitiateMovementTest"/>
        </classes>
    </test>
    <test name="test8">
        <classes>
            <class name="com.test.modules.memberRegister.member.MovementProcessingTest"/>
        </classes>
    </test>
    <test name="test9">
        <classes>
            <class name="com.test.modules.memberRegister.claimActivities.ClaimPaymentsTest"/>
        </classes>
    </test>

</suite>