<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="memberTestSuite">
    <test name="test1">
        <classes>
            <class name="com.test.modules.memberRegister.member.NewMemberRegisterTest"/>
        </classes>
    </test>

    <test name="test2">
        <classes>
            <class name="com.test.modules.memberRegister.member.NewMemberApprovalTest"/>
        </classes>
    </test>

</suite>