<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="memberTestSuite">
    <test name="test1">
        <classes>
            <class name="com.test.modules.schemeSetup.NewSchemeTest"/>
        </classes>
    </test>
    <test name="test2">
        <classes>
            <class name="com.test.modules.administrativePanel.NewUserTest"/>
        </classes>
    </test>
    <test name="test3">
        <classes>
            <class name="com.test.modules.schemeSetup.ChangeUserPasswordTest"/>
        </classes>
    </test>
    <test name="test4">
        <classes>
            <class name="com.test.modules.schemeSetup.SponsorApprovalTest"/>
        </classes>
    </test>
    <test name="test5">
        <classes>
            <class name="com.test.modules.administrativePanel.SchemePreferencesTest"/>
        </classes>
    </test>
    <test name="test6">
        <classes>
            <class name="com.test.modules.schemeSetup.BasicSChemeDetailsTest"/>
        </classes>
    </test>
    <test name="test7">
        <classes>
            <class name="com.test.modules.schemeSetup.AdditionalSchemeDetailsTest"/>
        </classes>
    </test>
    <test name="test8">
        <classes>
            <class name="com.test.modules.schemeSetup.AdditionalSchemeDetails2Test"/>
        </classes>
    </test>
    <test name="test9">
        <classes>
            <class name="com.test.modules.schemeSetup.AnnuityRatesTest"/>
        </classes>
    </test>
    <test name="test10">
        <classes>
            <class name="com.test.modules.schemeSetup.InterestRateTest"/>
        </classes>
    </test>
    <test name="test11">
        <classes>
            <class name="com.test.modules.schemeSetup.DatesAndInsuranceCoverTest"/>
        </classes>
    </test>
    <test name="test12">
        <classes>
            <class name="com.test.modules.schemeSetup.EndYearParametersTest"/>
        </classes>
    </test>
    <test name="test13">
        <classes>
            <class name="com.test.modules.schemeSetup.ContributionsRateTest"/>
        </classes>
    </test>

</suite>